@import '../../styles/global.module.scss';

.pageFill{
    height: 100vh;
    width: 100vw;

    position:fixed ;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    @include glassmorph(0.3, 4px, black, 0, 0);
    z-index: 2;
}


.info{
    @include center_col();
    justify-content: center;
    .timeline, .note{
        @include glassmorph(0.85, 4px, rgb(200, 200, 255), 0, 4px);
        padding: 20px;
        margin: 30px;
        width: 400px;
        height: fit-content;
    }
}

// https://www.w3schools.com/howto/howto_css_flip_card.asp

.flipInner{
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover {
    cursor: pointer;
    .flipInner {
        transform: rotateY(180deg);
    }
}
  
.flipFront, .flipBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipFront {
    color: black;
}

.flipBack {    
    color: black;
    transform: rotateY(180deg);
    text-decoration: underline;
}

.interviewers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;

    @include glassmorph(0.85, 4px, rgb(200, 200, 255), 0, 4px);
    padding: 20px;
    margin: 30px;
    width: 100%;
    height: fit-content;
    max-height: calc(100vh - 60px);

    overflow: hidden;
    overflow-y: scroll;
}


.showSetInterview {
    transition: transform .5s;
}

.hideSetInterview{
    transform: translateX(100vw);
    transition: transform .5s;
}

.interviewerCard{
    display: flex;
    height: 100px;
    width: 300px;
}

.interviewerPhoto{
    border-right: 4px;
    border-right-style : solid;
    padding-right: 8px;
    margin-right: 16px;
}

.interviewerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.closeInterviewrSelection{
    position: absolute;
    left : 470px;
    top: 10px;
    z-index: 1;
}